@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
   max-width: 1440px;
   margin: 10px auto;
}
/* shared some thing */
.btn-primary{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: white;
    padding: 10px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    border: none;
    line-height: 30px;
    cursor: pointer;
    margin-top: 10px;
    width: 197px;
    height: 50px;
  }
.btn-primary:hover{
    background: rgb(184, 77, 28);
    width: 220px;
    height: 60px;
    color: wheat;
  }


/* header */

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part-1{
    display: flex;
    justify-self: center;
    align-items: center;
}
.nav-des{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.part-2 > ul{
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    
}   
.part-2 a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.part-3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.part-3 img{
    display: none;
}
/* banner part */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0px auto;
    gap: 20px;
    margin-bottom: 60px;
}
.banner-content{
    width: 50%;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0%;
    text-align: left;
}
.banner-des{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: white;
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 24px;
}
.banner-btn:hover{
    width: 220px;
    height: 60px;
    color: tomato;
}

/* media query */
@media screen and (max-width:576px){
    
    .part-1 > .nav-des{
       display: none;
    }
    .part-2{
        display: none;

    }
    .part-3 button{
        display: none;
    }
    .part-3 img{
        display: block;
        width: 22.5px;
        height: 15px;
    }
    .banner{
        flex-direction: column;
        /* margin-left: 60px ;
        margin-right: 60px; */
    }
    .banner-content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 2.8rem;
        text-align: center;
    }
    .banner-des{
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
    }
    .banner-btn{
        width: 150px;
        height: 40px;
        font-size: 1rem;
        padding: 10px 10px;
        align-items: center;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

